{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{# removes top search bar #}
{% block sonata_top_bar_search %}{% endblock %}

{# custom title #}
{% block title %}Som Energia{% endblock %}

{# custom logo #}
{% block logo %}
    <a href="{{ url('sonata_admin_dashboard') }}" class="brand">
        <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}" style="margin-top:-5px;">
        {{ admin_pool.title }}
    </a>
{% endblock %}

{# custom footer #}
{% block footer %}
    <div class="row-fluid">
        <div class="well">
            <div class="span6">{{ admin_version }} · &copy;{{ 'now'|date('Y') }} · <a href="//www.somenergia.coop">Som Energia</a></div>
            <div class="span6" style="text-align:right;"><a href="mailto:david.romani@somenergia.coop?subject=Ayuda administrador Som Energia">ayuda y soporte técnico</a></div>
        </div>
    </div>
{% endblock %}
