<div id="cms-block-somenergia-custom-adminlist" class="cms-block cms-block-element">
    {% for group in groups %}

        {% if (group.label == 'Emails' and is_granted('ROLE_GESTOR_MAILS'))
            or (group.label == 'Usuarios' and is_granted('ROLE_SUPER_ADMINISTRADOR'))
            or (group.label == 'Asambleas' and is_granted('ROLE_ADMINISTRADOR_ASAMBLEA'))
            or (group.label == 'Socios' and is_granted('ROLE_SUPER_ADMINISTRADOR'))
        %}
            <table class="table table-bordered table-striped sonata-ba-list">
                <thead>
                    <tr>
                        <th colspan="3">{{ group.label|trans({}, group.label_catalogue) }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for admin in group.items %}

                    {% if admin.hasroute('create') and admin.isGranted('CREATE') or admin.hasroute('list') and admin.isGranted('LIST') %}
                        <tr>
                            <td class="sonata-ba-list-label">{{ admin.label|trans({}, admin.translationdomain) }}</td>
                            <td>
                                <div class="btn-group">
                                    {% if admin.hasroute('create') and admin.isGranted('CREATE') %}
                                        {% if admin.subClasses is empty %}
                                            <a class="btn btn-small" href="{{ admin.generateUrl('create')}}">
                                                <i class="icon-plus"></i>
                                                {% trans from 'SonataAdminBundle' %}link_add{% endtrans %}
                                            </a>
                                        {% else %}
                                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="icon-plus"></i>
                                                {% trans from 'SonataAdminBundle' %}link_add{% endtrans %}
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                {% for subclass in admin.subclasses|keys %}
                                                    <li>
                                                        <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">{{ subclass }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <a class="btn btn-small" href="{{ admin.generateUrl('list')}}">
                                            <i class="icon-list"></i>
                                            {% trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if (group.label == 'Asambleas' and is_granted('ROLE_ADMINISTRADOR_ASAMBLEA')) %}
                    <tr>
                        <td class="sonata-ba-list-label">Informes</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-small" href="{{ path( 'asamblea_asistencia_informes') }}">
                                    <i class="icon-list-alt"></i>
                                    Resultados asistencia
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        {% endif %}

    {% endfor %}
    {% if (is_granted('ROLE_DELEGADO_ASAMBLEA')) %}
        <table class="table table-bordered table-striped sonata-ba-list">
            <thead>
                <tr>
                    <th colspan="3">Asistencias</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="sonata-ba-list-label">Asistencia</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-small" href="{{ path( 'asamblea_asistencia_nuevo_registro') }}">
                                <i class="icon-plus"></i>
                                Añadir asistencia
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
</div>
