{% extends 'MainBundle:SonataAdmin:somenergia_custom_layout.html.twig' %}

{% block title %}{% endblock%}

{% block footer %}
    <div class="btn-group" style="margin-bottom: 40px">
        <a class="btn btn-small" href="{{ path( 'sonata_admin_dashboard') }}">
            <i class="icon-circle-arrow-left"></i>
            Volver al menú principal
        </a>
        <a class="btn btn-small" href="{{ path( 'asamblea_asistencia_nuevo_registro') }}">
            <i class="icon-repeat"></i>
            Volver al menú anterior
        </a>
    </div>
    <h1>Elegir socio. Paso 2</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="sonata-ba-list-field-header">
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">Número</th>
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">DNI</th>
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">Nombre</th>
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">CP</th>
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">Población</th>
            </tr>
        </thead>
        <tbody>
            {% for socio in socios %}
                <tr>
                    <td>{{ socio.ref }}</td>
                    <td>{{ socio.vat }}</td>
                    <td>{{ socio.name }}</td>
                    <td>{{ socio.zip }}</td>
                    <td>{{ socio.city }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}