{% extends 'MainBundle:SonataAdmin:somenergia_custom_layout.html.twig' %}

{% block title %}{% endblock%}

{% block footer %}
    {% set total = 0 %}
    <div class="btn-group" style="margin-bottom: 40px">
        <a class="btn btn-small" href="{{ path( 'sonata_admin_dashboard') }}">
            <i class="icon-circle-arrow-left"></i>
            Volver al menú principal
        </a>
        <a class="btn btn-small" href="{{ path( 'asamblea_asistencia_informes') }}">
            <i class="icon-repeat"></i>
            Volver al menú anterior
        </a>
    </div>
    <h1>{{ asamblea }}</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="sonata-ba-list-field-header">
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">Sede</th>
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">Asistentes</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.sede }}</td>
                    <td>{{ result.asistencias }}</td>
                </tr>
                {% set total = total + result.asistencias %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>TOTAL</th>
                <th>{{ total }}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}