{% extends 'MainBundle:SonataAdmin:somenergia_custom_layout.html.twig' %}

{% block breadcrumb %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block title %}
    {{ "Consulta socios grupo local" | trans }}
{% endblock%}

{% block actions %}
    <div class="sonata-actions">
        <ul>
            <li class="btn sonata-action-element"><a href="{{ path('sonata_admin_dashboard') }}">Volver al panel</a></li>
            {% if socios | length > 0 %}
                <li class="btn sonata-action-element"><a href="{{ path('admin_somenergia_socio_socio_exportrelatedlist') }}">Exportar a XLS</a></li>
            {% endif %}
            {# if admin.hasroute('edit') and admin.isGranted('EDIT') #}
            <!-- li class="btn sonata-action-element"><a href="">{{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a></li -->
            {# endif #}
            {# if admin.hasroute('list') and admin.isGranted('LIST') #}
            <!-- li class="btn sonata-action-element"><a href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a></li -->
            {# endif #}
        </ul>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    {% if app.session.flashbag.has('info') %}
        <div class="alert alert-success">{{ app.session.flashbag.get('info') }}</div>
    {% endif %}
    {% if app.session.flashbag.has('error') %}
        <div class="alert alert-error">{{ app.session.flashbag.get('error') }}</div>
    {% endif %}
    <div class="row-fluid">
        <div class="span10">
            <h3>Consulta socios del grupo local de {{ grupoLocal }}</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10">
            <h4>Usuario: {{ app.user.username }}</h4>
            <h4>Email: {{ app.user.email }}</h4>
            <h4>Grupo local relacionado: {{ glid }} · {{ grupoLocal }}</h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10">
            {% if socios | length > 0 %}
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">Número</th>
                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">Nombre</th>
                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">Email</th>
                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">Idioma</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for socio in socios %}
                            <tr>
                                <td>{{ socio.ref }}</td>
                                <td>{{ socio.name }}</td>
                                <td><a href="mailto:{{ socio.email }}">{{ socio.email }}</a></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-error">Lo sentimos, no existe ningún socio registrado en el grupo local.</div>
                <a class="btn btn-danger" href="{{ path('sonata_admin_dashboard') }}">Cancelar</a>
            {% endif %}
        </div>
    </div>
{% endblock %}